#comments {
background-color: transparent;
}
#comment-editor {
background-color: transparent;
}
#lower {
display: none;
}
#ty_footer {
background-color: transparent;
color: transparent;
}
#ty_footer_copyright {
background-color: transparent;
color: transparent;
}

