.menu-rajax-21-fundo {
  position: fixed;
  width: 100%;
  height:60px;
  top:0;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  background-color:#f1f1f1; 
  z-index: 101;
}    
.menu-rajax-21 {
  position: fixed;
  width: 100%;
  max-width: 1240px;
  height:60px;
  top:0;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  background-color:#f1f1f1; 
  z-index: 102;
  padding: 12px 0px 20px 0px;
}
.menu-rajax-21 a{
  float: left;
  position:relative;
  padding: 6px 20px 10px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color:#777;
  cursor:pointer;
  transition: 0.2s;
}
.menu-rajax-21 a:hover{
  opacity:0.6;
}  
.menu-rajax-21 img {
  margin: -5px 6px 0px 10px;
  width:80px;
  border-radius:0px;
}    
.menu-rajax-21 span {
  float: right;
  margin-right:18px;
  margin-top:0px;
}
.menu-rajax-21 i {
  position:absolute;
  font-size: 22px;
  color:#777;
  margin-top:1px;
  margin-left: -24px;
}   
@media only screen and (max-width: 900px) { 
.menu-rajax-21 a{
  padding: 6px 13px 10px 13px;
}
.menu-rajax-21 i {
  display:none;
}        
  } 
@media only screen and (max-width: 800px) { 
.menu-rajax-21-fundo {
  display:none;
}    
.menu-rajax-21 {
  display:none;
}
.menu-rajax-21 a{
  display:none;
} 
.menu-rajax-21 img {
  display:none;
}    
.menu-rajax-21 i {
  display:none;
}   
  }    
