 .menu-rajax-21-fundo {
  display:none;
}    
.menu-rajax-21 {
  display:none;
}
.menu-rajax-21 a{
  display:none;
} 
.menu-rajax-21 img {
  display:none;
}    
.menu-rajax-21 i {
  display:none;
}   
.menupc-rajax21-esquerdo {
 display:none;
}
.menupc-rajax21-direito {
 display:none;
}
.sec-jax-apre-p  {
 display:none;
}
.sec-jax-apre-cel-p {
 display:none;
} 
.circular-menu {
 display:none;
}
.circular-menu .floating-btn {  
 display:none;
}
