body {
  background-color: #f1f1f1; 
  }
#outer-wrapper {
  background-color: #f1f1f1;  
  z-index:0;
}
#outer-wrapper:after { 
  width: 100%;
  height: 100%;
background-color: #f1f1f1;
  position: fixed;
  content: "";
  left: 0;
  right:0;
  top:0;
  z-index:1;
}  
#main-wrapper { 
max-width:720px;
margin-top:-100px;
position:absolute;
border-radius: 12px;
z-index:4;
}  
.post-body {
background: #fff;
color: #444;
padding: 20px 50px;
}          
.post-header {
background: #fff;
color: #444;
padding: 15px 10px 25px 10px;  
}
.post-header h1 {
  color: #555;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  font-size: 26px;
}  
.second-meta {
background: #fff;
color: #444;
}
.post hentry {
background: #fff;
} 
.post-body img{
transform: scale(1.18);
}     
.post-body p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #444;
}    
.post-body b{
  font-weight: 800;
  color: #555;
} 
.post-body a{
  font-weight: 800;
  color: #5990d9;
  border-bottom: 1px dotted #5990d9;
}      
@media only screen and (max-width: 1000px) {     
#main-wrapper { 
margin-top:-60px;  
}   
}  
@media only screen and (max-width: 800px) {     
#outer-wrapper {
background-color: #fff;
  padding:0;
  margin:0;
}
#outer-wrapper:after { 
background-color:#f1f1f1;
  }
#main-wrapper { 
margin-top:-130px;  
}  
.post-body {
padding: 0px 25px 0px 25px;
}  
  }
